.admin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-modal {
  background: white;
  padding: 20px;
  width: 380px;
  border-radius: 15px;
}

.chat-box {
  background: #f3f3f3;
  padding: 15px;
  height: 200px;
  overflow-y: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.yo {
  text-align: right;
  color: blue;
}

.ellos {
  text-align: left;
  color: green;
}

.admin-modal input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btn-enviar {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
}

.btn-cerrar {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
}
